body{
    background-color: #706579;
}


.container{
    max-width: 405px;
    margin: 137px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.to-do-app{
    width: 100%;
    padding: 50px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid #6aa1a1;
}

.to-do-app h2{
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;
}


.to-do-app button{
    width: 200px;
    padding: 5px;
    border: 1px solid #6aa1a1;
    border-radius: 5px;
    background-color: rgb(61, 47, 47);
    cursor: pointer;
    color: white;

}

.to-do-app button:hover{
    background-color: rgb(255, 255, 255, 0.1);
    color: black;

}

li{
    font-size: 20px;
}

.to-do-list{
 margin: 20px;
 margin-right: 5px;
 padding: 25px;
 display: flex;
 flex-direction: column;
 gap: 15px;
 list-style: none;
 background-color: whitesmoke;
 width: 400px;
}

.to-do-list li{
    font-size: small;
    background-color: #706579;
    padding: 20px;
}

.to-do-app input{
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #706579;
}
